.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  padding: 24px 0;
  height: 90vh;
}

.table-container {
  height: 90%;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  font-weight: inherit;
  height: 40px;
  padding: 5px 10px;
  border-right: solid 1px var(--main-color);
}

.table td:last-child,
.table th:last-child {
  border-right: none;
  min-width: 30px;
}

.table tr:nth-child(even) {
  background-color: var(--main-row-color);
}

.table th {
  background-color: var(--main-transparent-color);
  border-top: solid 1px var(--main-color);
  border-bottom: solid 1px var(--main-color);
}
