.input-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.label-row {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.label-row label {
  color: var(--main-color);
  font-weight: bolder;
}

.input {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 90%;
  display: flex;
  border: solid var(--main-color) 1px;
  background-color: #fff;
  border-radius: 5px;
}

.input input {
  width: 80%;
  height: 100%;
}

.input input::placeholder {
  color: var(--main-transparent-color);
}

.btn-erase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-erase svg {
  color: var(--main-color);
  width: 13px;
  height: 13px;
  stroke-width: 2px;
}

.btns-sort {
  display: flex;
  gap: 2px;
}

.btn-sort {
  opacity: 0.3;
}

.btn-sort.active {
  opacity: 1;
}
