.form {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons .reset {
  background: #fff;
  color: var(--main-color);
  border: var(--main-color) solid 1px;
}
